* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: #fff;
  padding: 80px 20px;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
}
.avatar {
  border: solid 3px #fff;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
.user-card {
  background-color: hsl(246, 80%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.user-card .avatar-container {
  width: 70px;
  margin: auto auto auto 10px;
}
.name-container {
  margin: auto 30px auto auto;
}
.user-card .user-h {
  font-weight: 500;
  font-size: 23px;
}
.user-card .user-h span {
  font-size: 14px;
}
.timer-bar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 1px;
}
.timer-bar .time-li {
  color: hsl(236, 100%, 87%);
  font-size: 15px;
  cursor: pointer;
}
.timer-bar .time-li.active {
  color: #fff;
}
.timer-bar-container {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
}
.user-time-status {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  max-width: 335px;
}

.task-header {
  /* background-color: hsl(15, 100%, 70%); */
  overflow: hidden;
  position: relative;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.taskCard {
  max-width: 335px;
}
.info-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 5px;
}
.task-info {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  border: solid 1px hsl(235, 46%, 20%);
}

.task-name {
  font-size: 15px;
  font-weight: 600;
}
.task-time-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px;
}
.hours-h {
  font-weight: 500;
}
.last-time {
  font-size: 14px;
  color: hsl(236, 100%, 87%);
}
.task-img {
  position: absolute;
  top: -10px;
  right: 30px;
}
.task-card {
  /* background-color: hsl(15, 100%, 70%); */
  border-radius: 10px;
  max-width: 335px;
}
