* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: #fff;
  padding: 80px 20px;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  justify-items: center;
  max-width: 1400px;
}
.avatar {
  border: solid 3px #fff;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
.user-card {
  background-color: hsl(246, 80%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.user-card .avatar-container {
  width: 70px;
  margin: auto auto auto 10px;
}
.name-container {
  margin: auto 20px auto auto;
}
.user-card .user-h {
  font-weight: 300;
  font-size: 23px;
}
.user-card .user-h span {
  font-size: 14px;
}
.timer-bar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 1px;
  font-weight: 300;
}
.timer-bar .time-li {
  color: hsl(236, 100%, 87%);
  font-size: 15px;
  cursor: pointer;
}
.timer-bar .time-li.active {
  color: #fff;
}
.timer-bar-container {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
}
.user-time-status {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  width: 315px;
}

.task-header {
  overflow: hidden;
  position: relative;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 5px;
}
.task-info {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  border: solid 1px hsl(235, 46%, 20%);
}
.task-info:hover {
  background-color: #34397b;
}

.task-name {
  font-size: 15px;
  font-weight: 600;
}
.task-time-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px;
}
.hours-h {
  font-weight: 300;
}
.last-time {
  font-size: 14px;
  color: hsl(236, 100%, 87%);
}
.task-img {
  position: absolute;
  top: -10px;
  right: 30px;
}
.task-card {
  border-radius: 10px;
  width: 315px;
}
.ellipsis-icon {
  cursor: pointer;
}
.ellipsis-icon:hover {
  fill: #fff;
}

@media only screen and (min-width: 992px) {
  .App {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 50px;
  }
  .user-card {
    flex-direction: column;
    padding-bottom: 70px;
  }
  .name-container {
    margin: auto auto auto 10px;
  }
  .user-card .user-h {
    font-size: 33px;
    margin-top: 15px;
  }

  .user-time-status {
    width: 200px;
    grid-row: 1 / 3;
  }
  .task-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .task-time-div {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 30px 20px;
  }
  .hours-h {
    font-size: 30px;
  }
  .task-hours-div {
    margin: 20px 0 10px;
  }
  .info-header {
    padding: 25px 30px 5px;
  }
  .timer-bar {
    flex-direction: column;
    padding-left: 30px;
  }
  .timer-bar .time-li {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .user-card .user-h {
    font-size: 33px;
  }
  .user-time-status {
    width: 255px;
  }
  .task-card {
    width: 255px;
  }

  .hours-h {
    font-size: 45px;
  }
  .App {
    margin: 0 auto;
  }
}
